@model IEnumerable<GenreIndexViewModel>

@{
    ViewBag.Title = "Genres";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ModalDialogPartial")

<div class="row">
    @Html.ActionLink("New Genre", "Create", "Genres", new { area = GlobalConstants.AdminArea }, new { data_modal = "", @class = "btn btn-default" })
</div>

<div id="genres-list" class="row">
    @Html.Partial("_ReadGenresPartial", Model)
</div>
